- model_class = @link.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:href) + ':'
  %br
  = @link.href
%p
  %strong= model_class.human_attribute_name(:tag1) + ':'
  %br
  = @link.tag1
%p
  %strong= model_class.human_attribute_name(:tag2) + ':'
  %br
  = @link.tag2
%p
  %strong= model_class.human_attribute_name(:tag3) + ':'
  %br
  = @link.tag3
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @link.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), links_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_link_path(@link), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), link_path(@link), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
