!!! 5
%html
  %head
    %title mongo4.us
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link(rel="icon" href="/favicon.ico")/
  %body
    %table
      %tr
        %td
          %header
            %a(href="/")
              %h1.bg_white
                %span.mongo_green.has_brown_border mongo4
                %span.black .
                %span.mongo_brown.has_green_border_2px us
        %td
          -if alert.present?
            %p.alert.has_brown_border=alert
          -if notice.present?
            %p.notice.has_brown_border=notice

      %tr
        %td.vertical_align_top.width200
          - if current_user.present?
            You are logged in as:
            %a(href="#{edit_user_password_path('user')}")=current_user.email
            %hr/

          %nav.mongo_brown.bold.has_green_border.padding10.float_left.margin10.blocks_others
            %a(href="#{new_session_path('user')}") Sign In
            %a(href="#{new_registration_path('user')}") Sign Up
            %a(href="#{destroy_user_session_path}") Sign Out
            %a(href="as/links") Links From Users Like You
          %nav.mongo_brown.bold.has_green_border.padding10.float_left.margin10.blocks_others
            %p Links to other sites:
            %a(href="http://mongodb.org" target="m") mongoDB.org

        %td.vertical_align_top
          %article.mongo_brown.bold.has_green_border.padding10.float_left.margin10.mongo_bgc
            =yield
      %tr
        %td.has_brown_border(colspan="2")
          %footer
            %a.mongo_green(href="/") mongo4.us 
            %span.black 2012

